<%- include('header') %>
    <button onclick="showCelsius()">Show Celsius</button>
    <button onclick="showFahrenheit()">Show Fahrenheit</button>
    <div>
        <!-- Use ejs to output weather data from app.js file & api call-->
        <%= weather %>
        <p id="c"><%= celsius%></p>
        <p id="f"><%= fahrenheit%></p>
    </div>
    <div>
        <!--Remove soon and use javascript to logic out what icon show -->
        <i class="wi wi-day-rain"></i>
    </div>
    <script>
        // default display
          document.getElementById("c").style.display = "none";

        function showCelsius() {
                document.getElementById("f").style.display = "none";
                 document.getElementById("c").style.display = "block";

        }
         function showFahrenheit() {
                document.getElementById("f").style.display = "block";
                document.getElementById("c").style.display = "none";

            }
    </script>
</body>
