<%- include('header') %>

<!-- use ejs to output weather data from app.js file & api call-->
    <div>
        <%= weather %>
    </div>
    <div>
        <%= temperature %>
        
        <!--Remove soon and use javascript to logic out what icon show -->
        <i class="wi wi-day-rain"></i>
    </div>

</body>