<%- include('header') %>
    <button onclick="showCelsius()">Show Celsius</button>
    <button onclick="showFahrenheit()">Show Fahrenheit</button>
    <div>
        <!-- Use ejs to output weather data that results from the api call in app.js file-->
        <%= weather %>
        <p id="c"><%= celsius%>ยบ</p>
        <p id="f"><%= fahrenheit%>ยบ</p>
    </div>
    <div>
        <!--Remove soon and use javascript to logic out what icon show -->
       <i class="wi wi-day-sunny"></i> 
    </div>
    <script>
        // default display before any button is clicked
          document.getElementById("c").style.display = "none";

        function showCelsius() {
                document.getElementById("f").style.display = "none";
                 document.getElementById("c").style.display = "block";

        }
         function showFahrenheit() {
                document.getElementById("f").style.display = "block";
                document.getElementById("c").style.display = "none";

            }
    </script>
</body>
