<%- include('header') %>

<!-- use ejs to output weather data from app.js file & api call-->
    <div>
        <%= weather %>
    </div>
    <div>
        <%= temperature %>
        <!-- Use if/else to determine the icon to display -->
        <img src="" alt="weather icon">
    </div>
</body>