<%- include('header') %>
<!-- Use ejs to output weather data from app.js file & api call-->
    <button onclick="toggleUnit">Toggle Unit</button>
    <div>
        <%= weather %>
        <p id="c"><%= celsius%></p>
        <p id="f"><%= %></p>
    </div>
    <div>
        <!--Remove soon and use javascript to logic out what icon show -->
        <i class="wi wi-day-rain"></i>
    </div>
    <script>
        function ToggleUnit() {
            Document.getElementById("c").display = none;
        }
    </script>
</body>
