<%- include('header')%>
    <!-- fires up initial request to api -->
        <form action="/" method="post">
            <button action="/" method="POST">Get Your Local Weather</button>
        </form>
    </body>
</html>

