body {
    background-color: #74b9ff !important;
    font-family: fantasy;
    color: rgb(209, 187, 146);
}

/*header and title styles */
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 7px;
}

.container-d{
    text-align: center;
}
.button {
  color: white;
  background-color: #2c3e53;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
}

#buttons {
   display: inline-block; 
}

